In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
control = pd.read_csv(r"C:\Users\abija\Desktop\office\moved_same_state.csv")
variant = pd.read_csv(r"C:\Users\abija\Desktop\office\moved_between_states.csv")

In [8]:
county = pd.DataFrame()
state = pd.DataFrame()
division = pd.DataFrame()
region = pd.DataFrame()

In [14]:
state["Relocated Within State"] = control.groupby("State")["Total Population"].sum()
state["Relocated Between States"] = variant.groupby("State")["Total Population"].sum()

state.head()

,relocated within state,Relocated Within State,Relocated Between States
State,,,
Alabama,4230.3,4230.3,3191.1
Alaska,469.6,469.6,700.9
Arizona,3102.0,3102.0,6677.5
Arkansas,2946.8,2946.8,1934.1
California,25451.9,25451.9,11529.7

In [17]:
cny = state.loc[["California", "New York"]]

cny

,relocated within state,Relocated Within State,Relocated Between States
State,,,
California,25451.9,25451.9,11529.7
New York,14816.3,14816.3,7206.8

In [20]:
t_stat, p_value = stats.ttest_ind(cny["Relocated Within State"], cny["Relocated Between States"])

print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: 1.875490757035505
p-value: 0.2015548045924921

In [47]:
d = control[(control["State"] == "California") | (variant["State"] == "New York")]

cny2 = pd.DataFrame()
cny2["Total U.S citizen (Naturalized)"] = d.groupby("State")["Total U.S. Citizens (Naturalized)"].sum()
cny2["Total Non-Citizens"] = d.groupby("State")["Total Non-Citizens"].sum()
cny2

            Total U.S citizen (Naturalized)  Total Non-Citizens
State
California                          20972.7             28069.4
New York                            13930.0             19412.7

In [52]:
t_stat, p_value = stats.ttest_ind(cny2["Total U.S citizen (Naturalized)"], cny2["Total Non-Citizens"])

print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: -1.1272204191762456
p-value: 0.3767053298376741

In [57]:
cny3 = pd.DataFrame()
cny3["Total U.S Citizens (Native)"] = d.groupby("State")["Total U.S. Citizens (Native)"].sum() 
cny3["Total Non-Citizens"] = d.groupby("State")["Total Non-Citizens"].sum()

cny3

            Total U.S Citizens (Native)  Total Non-Citizens
State
California                      26749.0             28069.4
New York                        15311.4             19412.7

In [62]:
t_stat, p_value = stats.ttest_ind(cny2["Total U.S citizen (Naturalized)"], cny2["Total Non-Citizens"])

print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: -1.1272204191762456
p-value: 0.3767053298376741

In [67]:
region["High School Graduate (or its Equivalency)"] = control.groupby("Region")["High School Graduate (or its Equivalency)"].sum()
region["Bachelor's Degree"] = control.groupby("Region")["Bachelor's Degree"].sum()

nem = region.loc[region.index.isin(["Northeast", "South"])]

In [68]:
t_stat, p_value = stats.ttest_ind(nem["High School Graduate (or its Equivalency)"], nem["Bachelor's Degree"])

print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: -0.14838883965105612
p-value: 0.8956461212363281

In [69]:
division["Never Married"] = control.groupby("Division")["Never Married"].sum()
division["Married"] = control.groupby("Division")["Married"].sum()

sam = division.loc[division.index.isin(["South Atlantic", "Mountain"])]

In [71]:
t_stat, p_value = stats.ttest_ind(sam["Never Married"], sam["Married"])
print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: 0.4439749639053858
p-value: 0.7004755993837322

In [73]:
county["Never Married"] = control.groupby("County")["Never Married"].sum()
county["Married"] = control.groupby("County")["Married"].sum()

home = county.loc[county.index.isin(["Your Home county", "Home County 2"])]

In [74]:
t_stat, p_value = stats.ttest_ind(sam["Never Married"], sam["Married"])
print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: 0.4439749639053858
p-value: 0.7004755993837322